* {
   box-sizing: border-box;  
}
body {
   margin: 0px;
}



/********menu container********/
.menu-container {
   /* border: 1px solid red; */
   height: 3rem;
   background-color: lightpink;
   align-items: center;
   display: flex;
   gap:0.5rem;   /*sab element ke beech mai space de dega*/
   padding-left:0.5rem;
}
.menu-container *{
   border-right:2px solid;
   height:60%;
}
.font-size{
   width:5%;
}
.font-family{
   width:21%;
}
.bui-container{
   width:21%;
   display:flex;
   justify-content:space-around;
   align-items:center;
   padding-right: 20px;
}
.bui-container>* {
   width:30%;
   height:80%;
   text-align: center;
   border-radius: 5px;
}
.align-container{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   min-width:14%;
}
.align-container>*{
   width:25%;
   height: 80%;
   border-radius: 5px;
}

.color-container{
   min-width:10%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.color-container>*{
   width:35%;
   height: 70%;
}



/*************formula container************/
.formula-container {
   /* border: 1px solid red; */
   height: 2rem;
   /* background-color: lightcoral; */
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.formula-container>*{  /*formula-container ke andar jo bhi h sab ke liye*/
   height: 70%;
}
.address-input{
   width:4rem;
   }
.formula-input{
    width:calc(100vw - 6rem);
}







/* ****************grid ****************/


.left-box{
   background-color:gray;
   height: 30px;
   width: 25px;
   position: absolute;
   top:0px;
   left:0px;
   z-index:100;
}
.top-row{
   height:2rem;
  background-color:lightgreen;
  display:flex;
  position: absolute;
  top: 0px;
  left: 32px;
  z-index:90;
}
.row{
   display: flex;
}
.cell{
   border: 1px solid;
   min-width: 5rem;
   min-height: 32px;
   text-align: center;
   height:2rem;
}
.left-col {
   width: 32px;
   position: absolute;
   top:32px;
   left:0px;
   z-index:90;
}
.left-col_box {
   height: 32px;
   background-color: lightgreen;
   text-align: center;
   border: 1px solid;
}


.grid-container {
  
   border: 1px solid red;
   height: 
   calc( 100vh - ( 3rem + 2rem + 2rem));    /*agar tab chota kare toh bas grid choti badi honi chaiye ...therefore baaki ko constant height dedi and grid ko bachi buchi height dedi*/
   /* background-color: lightgreen; */
   overflow: auto;
   position: relative;    /*TRICK==humme top-row ki position absolute grid-container ke hisaab se deni thi toh grid container ko relative dedo and top row ko absolute*/
   
}
.grid{
   position: absolute;
   left: 2rem;
   top: 2rem;
   background-color: white;
}





/* /////////////////sheets/////////////////////// */
.sheets-container {
   /* border: 1px solid red; */
   background-color: lightblue;
   height: 2rem;
   display: flex;
}
.add-sheet_btn-container{
   width: 3rem;
   border: 1px solid;
   height: 100%;
   padding-top: 0.2rem;
   padding-left: 0.3rem;
}
.sheet-list{
   width: calc(100vw - 3rem);  
   border: 1px solid;
   display: flex;
   overflow: auto;
}


/* Hide scrollbar for  */
.sheet-list::-webkit-scrollbar {
   display: none;
 }
 .sheet-list {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }

.sheet{
   min-width: 5rem;
   border: 1px solid blue;
   height: 100%;
  background-color: grey;
}
.active{
   background-color:white;
}





.box{
   height: 2rem;
   width:2rem;
   border:1px solid;
   text-align: center;
}
.active-btn{
   background-color:rgb(140, 108, 108);
}


/* new open save */
.nos-container{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 10rem;
}
.open{
   border-right: none;
}
.open>input {
   display: none;
 }
 
.nos-container>*{
   border:none;
}
.material-icons-outlined {
   border: none;
}