* {
   box-sizing: border-box;  
}
body {
   margin: 0px;
}



/********menu container********/
.menu-container {
   /* border: 1px solid red; */
   height: 3rem;
   background-color: lightpink;
   align-items: center;
   display: flex;
   gap:0.5rem;   /*sab element ke beech mai space de dega*/
   padding-left:0.5rem;
}
.menu-container *{
   border: 1px solid;
   height:80%;
   border-radius: 5px;
}
.font-size{
   width:5%;
}
.font-family{
   width:15%;
   height: 80%;
   border-radius: 5px;
}
.bui-container{
   height: 80%;
   min-width: 10rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.bui-container>* {
   width: 30%;
   height: 80%;
   border-radius: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(223, 230, 233);
}
.align-container{
   display: flex;
   justify-content: space-around;
   height: 80%;
   min-width: 10rem;
   align-items: center;
}

.color-container{
   height: 80%;
   min-width: 7.5rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.color-container > i {
   position: relative;
   width: 41%;
   height: 80%;
   font-size: x-large;
   border-radius: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(223, 230, 233);
   border-radius: 3px;
}
.color-container > i:hover {
   background-color: rgb(178, 190, 195);
}

.color-container input {
   position: absolute;
   height: 100%;
   width: 100%;
   opacity: 0.01;
}


/*************formula container************/
.formula-container {
   /* border: 1px solid red; */
   height: 2rem;
   /* background-color: lightcoral; */
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.formula-container>*{  /*formula-container ke andar jo bhi h sab ke liye*/
   height: 70%;
}
.address-input{
   width:4rem;
   }
.formula-input{
    width:calc(100vw - 6rem);
}







/* ****************grid ****************/


.left-box{
   background-color:gray;
   height: 30px;
   width: 25px;
   position: absolute;
   top:0px;
   left:0px;
   z-index:100;
}
.top-row{
   height:2rem;
  background-color:lightgreen;
  display:flex;
  position: absolute;
  top: 0px;
  left: 32px;
  z-index:90;
}
.row{
   display: flex;
}
.cell{
   border: 1px solid;
   max-width: 5rem;
   width: 5rem;
   text-align: center;
   height:2rem;
   overflow: hidden;
}
.left-col {
   width: 32px;
   position: absolute;
   top:32px;
   left:0px;
   z-index:90;
}
.left-col_box {
   height: 32px;
   background-color: lightgreen;
   text-align: center;
   border: 1px solid;
}


.grid-container {

   border: 1px solid red;
   height: 
   calc( 100vh - ( 3rem + 2rem + 2rem));    /*agar tab chota kare toh bas grid choti badi honi chaiye ...therefore baaki ko constant height dedi and grid ko bachi buchi height dedi*/
   /* background-color: lightgreen; */
   overflow: auto;
   position: relative;    /*TRICK==humme top-row ki position absolute grid-container ke hisaab se deni thi toh grid container ko relative dedo and top row ko absolute*/

}
.grid{
   position: absolute;
   left: 2rem;
   top: 2rem;
   background-color: white;
}





/* /////////////////sheets/////////////////////// */
.sheets-container {
   /* border: 1px solid red; */
   background-color: lightblue;
   height: 2rem;
   display: flex;
}
.add-sheet_btn-container{
   width: 3rem;
   border: 1px solid;
   height: 100%;
   padding-top: 0.2rem;
   padding-left: 0.3rem;
}
.sheet-list{
   width: calc(100vw - 3rem);  
   border: 1px solid;
   display: flex;
   overflow: auto;
}


/* Hide scrollbar for  */
.sheet-list::-webkit-scrollbar {
   display: none;
 }
 .sheet-list {
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }

.sheet{
   min-width: 5rem;
   border: 1px solid blue;
   height: 100%;
  background-color: grey;
}
.active{
   background-color:white;
}





.box{
   height: 2rem;
   width:2rem;
   border:1px solid;
   text-align: center;
}
.active-btn{
   background-color:rgb(140, 108, 108);
}


/* new open save */
.nos-container {
   height: 80%;
   min-width: 7.5rem;
   width: 10rem;
   /* border: 1px solid; */
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nos-container > * {
   width: 30%;
   height: 80%;
   border-radius: 3px;
   background-color: rgb(223, 230, 233);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: x-large;
}
.nos-container > *:hover {
   background-color: rgb(178, 190, 195);
}


.modal {
   background-color: #fefefe;
   z-index: 1000;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   height: 10rem;
   width: 32em;
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal_remove {
   height: 0;
   width: 0;
   opacity: 0;
}

.input {
   padding: 1rem;
   border: none;
   background-color: #ededed;
   outline: none;
   border-radius: 10rem;
}

.save_file {
   border: none;
   outline: none;
   background-color: #217436;
   color: #fff;
   padding: 1rem 2rem;
   border-radius: 10rem;
   margin: 0 0.5rem;
}
.cancel_file {
   border: none;
   outline: none;
   background-color: #217436;
   color: #fff;
   padding: 1rem 2rem;
   border-radius: 10rem;
   margin: 0 0.5rem;
}


.overlay {
   height: 100vh;
   width: 100vw;
   position: fixed;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
   display: none;
}